.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.homeLogo {
  display: flex;
  margin-left: 50px;
  margin-top: 50px;
  color: palevioletred;
  border-color: palevioletred;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  margin: 30px 0px;
  height: 100%;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
