* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
}

a {
  text-decoration: none;
  border-radius: 10px;
  padding: 8px;
  border: 2px solid rgb(36, 143, 197);
  background-color: rgb(255, 255, 255);
  color: rgb(36, 143, 197);
  width: 200px;
  text-align: center;
}

@keyframes modalOpen {
  0% {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
